@model TodoListUserModel

@{
    ViewData["Title"] = "Edit User Role";
    var todoListId = TempData["TodoListId"] as int?;
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">Edit Task</div>
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label">Sharing To</label>
                        <input asp-for="UserName" class="form-control" readonly />
                    </div>
                    <form asp-action="Edit" asp-route-todoListId="@todoListId" asp-route-userName="@Model.UserName" method="post">
                        <div class="form-group mb-3">
                            <label asp-for="Role" class="control-label"></label>
                            <select asp-for="Role" class="form-control">
                                <option value="Viewer">Viewer</option>
                                <option value="Editor">Editor</option>
                            </select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a class="btn btn-secondary" asp-controller="ShareUser" asp-action="Index" asp-route-todoListId="@todoListId">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>