@using TodoListApp.Models.DTOs;
@model TaskItemModel

@{
    ViewData["Title"] = "Status of assigned tasks";
    var currentPage = TempData["CurrentPage"] as int?;
    this.ViewBag.CurrentPage = currentPage;
}

<h1>Task Status</h1>

<form asp-action="Status" asp-route-id="@Model.Id" method="post">
    <input type="hidden" asp-for="Title" />
    <input type="hidden" name="currentPage" value="@currentPage" />
    <select class="form-select" asp-for="Status">
        <option value="NotStarted">Not Started</option>
        <option value="InProgress">In Progress</option>
        <option value="Completed">Completed</option>
    </select>
    <button type="submit" class="btn btn-primary" style="margin-top: 10px">Save</button>
</form>