@using TodoListApp.Models.DTOs;
@model PagedModel<TodoListModel>

@{
    ViewData["Title"] = "To-do lists";
}

<h2 class="mb-4"><i class="fa-solid fa-list-ul"></i> @ViewData["Title"]</h2>
<a class="btn btn-sm btn-success mb-2" asp-action="Create">
    <i class="fa-solid fa-plus"></i>
    New list
</a>

@if (!Model.Items.Any())
{
    <h5 class="text-center">No to-do lists</h5>
}
else
{
    @foreach (var todoList in Model.Items ?? Enumerable.Empty<TodoListModel>())
    {
        <partial name="_TodoListSummary" model="todoList" />
    }
}

<div class="pagination-container">
    <div class="pagination" is-todoList-model="" page-model="@Model" page-action="Index"></div>
</div>