@using Microsoft.AspNetCore.Identity
@model TodoListApp.Models.DTOs.TaskItemModel

@{
    ViewData["Title"] = "Edit Task";
    var minDueDate = DateTime.Today.AddDays(1);
    var currentPage = TempData["CurrentPage"] as int?;
    this.ViewBag.CurrentPage = currentPage;
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">Edit Task</div>
                <div class="card-body">
                    <form asp-action="Edit" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="CreatedDate" />
                        <div class="form-group mb-3">
                            <label asp-for="Title" class="form-label">Title</label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Description" class="form-label">Description</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="DueDate" class="form-label">
                                Due Date
                                <p class="small m-0">
                                    <i class="fa-regular fa-clock"></i>
                                    Current due date:
                                    @(Model.DueDate == null ? "No due date" : Model.DueDate.Value.ToString("yyyy-MM-dd"))
                                </p>
                            </label>
                            <input asp-for="DueDate" type="date" min="@minDueDate.ToString("yyyy-MM-dd")" class="form-control" id="dueDateInput" disabled />
                            <span asp-validation-for="DueDate" class="text-danger"></span>
                            <input class="form-check-input mt-2" type="checkbox" value="" id="changeDueDateCheckbox">
                            <label class="form-check-label mt-1" for="changeDueDateCheckbox">
                                Change Due Date
                            </label>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Status" class="form-label">Status</label>
                            <select class="form-select" asp-for="Status">
                                <option value="NotStarted">Not Started</option>
                                <option value="InProgress">In Progress</option>
                                <option value="Completed">Completed</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="AssignedTo" class="form-label">Assigned To</label>
                            <select class="form-select" asp-for="AssignedTo" asp-items="ViewBag.Users"></select>
                            <span asp-validation-for="AssignedTo" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                        <a class="btn btn-outline-secondary" asp-action="Index" asp-route-todoListId="@Model.TodoListId" asp-route-page="@currentPage">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const checkbox = document.getElementById('changeDueDateCheckbox');
            const dueDateInput = document.getElementById('dueDateInput');

            checkbox.addEventListener('change', function () {
                if (this.checked) {
                    dueDateInput.disabled = false;
                    dueDateInput.value = "";
                } else {
                    dueDateInput.disabled = true;
                    dueDateInput.value = null;
                }
            });
        });
    </script>
}