@using TodoListApp.Models.DTOs;
@using TodoListApp.Models.Enums
@model PagedModel<TaskItemModel>

@{
    var todoListId = TempData["TodoListId"] as int?;
    var userRole = TempData["UserRole"] as TodoListRole?;
    ViewData["Title"] = "Tasks";
}

<h2 class="mb-4">@ViewData["Title"]</h2>
<a class="btn btn-sm btn-success mb-2" asp-route-todoListId="@todoListId" asp-action="Create">
    <i class="fa-solid fa-plus"></i> New task
</a>
@foreach (var task in Model.Items ?? Enumerable.Empty<TaskItemModel>())
{
    <partial name="_TaskSummary" model="task" />
}

<div class="pagination-container">
    <div class="pagination" is-task-model="" page-model="@Model" page-action="Index"></div>
</div>